@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
body {
    font: 20px Arial, sans-serif;
    
}

.navbar {
    background-color: #D8849E;
}

.quem-somos {
    background-color: #ede9dd;
    color: #D8849E;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.servicos{
    color: #D8849E;
    background-color: #ede9dd;
}

.bg-footer {
    background-color: #D8849E;
    color: white;
}